:root{
    --blue-dark: #004374;
    --purple-dark: #004374;
    --blue: #054ffc;
    --blue-light: #9ce1ff;
    --purple-light: #9ce1ff;
    --cream:#f4f4f4;
    /*
    --blue-dark: #004374;
    --purple-dark: #3A1078;
    --blue: #4E31AA;
    --blue-light: #83daff;
    --purple-light: #dacfff;
    --cream:#f4f4f4;
    /*
    --blue-dark: #005a9b;
    --cream:#f4f4f4;
    --blue: #0099FF;
    --blue-light: #ceeaff;
    */
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body,html{
    background-color:var(--cream)
}
body,button,html{
    font-family: "Unbounded", serif;
}
button{
    outline:none;
    border:0
}
a,button{
    cursor:pointer
}
a{
    text-decoration:none;
    color:inherit;
    display:inline-block
}
