.Home_hero__ZDFvf {
  width: 100%;
  height: 100vh;
}
.Home_hero__ZDFvf .Home_content__R7jSh {
  padding: 1rem;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.Home_hero__ZDFvf .Home_content__R7jSh h1 {
  font-size: 4rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
.Home_hero__ZDFvf .Home_content__R7jSh h3 {
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.Home_hero__ZDFvf .Home_content__R7jSh h1 span {
  color: var(--blue-dark);
}
@media only screen and (max-width: 1000px) {
  .Home_hero__ZDFvf .Home_content__R7jSh h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .Home_hero__ZDFvf .Home_content__R7jSh h1 {
    font-size: 2.5rem;
  }
}
.Home_educationResourcesSection__1nRpQ {
  margin: 8rem auto;
  max-width: 1400px;
  padding: 0 1rem;
}
.Home_educationResourcesSection__1nRpQ .Home_title___b3Ad {
  margin-bottom: 2rem;
}
.Home_educationResourcesSection__1nRpQ
  .Home_subjectsHoldersContainer__2e0a8
  .Home_desktop__Yr8BE {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.Home_educationResourcesSection__1nRpQ
  .Home_subjectsHoldersContainer__2e0a8
  .Home_mobile__91oUU {
  display: none;
}
@media only screen and (max-width: 1080px) {
  .Home_educationResourcesSection__1nRpQ {
    margin: 4rem 0;
  }
  .Home_educationResourcesSection__1nRpQ .Home_title___b3Ad {
    margin-bottom: 1rem;
  }
  .Home_educationResourcesSection__1nRpQ
    .Home_subjectsHoldersContainer__2e0a8
    .Home_desktop__Yr8BE {
    display: none;
  }
  .Home_educationResourcesSection__1nRpQ
    .Home_subjectsHoldersContainer__2e0a8
    .Home_mobile__91oUU {
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  .Home_educationResourcesSection__1nRpQ {
    padding: 0 0.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .Home_educationResourcesSection__1nRpQ {
    margin: 2rem 0 3rem;
  }
  .Home_educationResourcesSection__1nRpQ .Home_title___b3Ad {
    margin-bottom: 0.5rem;
  }
}
.Home_divisionsIndicator__3Ke_b {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px) {
  .Home_divisionsIndicator__3Ke_b {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .Home_divisionsIndicator__3Ke_b {
    margin-bottom: 0.5rem;
  }
}
.Home_addYourContribution__PSOUN {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home_addYourContribution__PSOUN > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.Home_addYourContribution__PSOUN {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 3rem 2.5rem;
}
@media (min-width: 768px) {
  .Home_addYourContribution__PSOUN {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 1024px) {
  .Home_addYourContribution__PSOUN {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.Home_addYourContribution__PSOUN .Home_textContainer__JXRnR {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home_addYourContribution__PSOUN
  .Home_textContainer__JXRnR
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.Home_addYourContribution__PSOUN .Home_textContainer__JXRnR h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--blue-dark);
}
.Home_addYourContribution__PSOUN .Home_textContainer__JXRnR h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--blue);
}
.Home_addYourContribution__PSOUN .Home_btnContainer__O33ik {
  display: flex;
  /*width: 100%;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Home_addYourContribution__PSOUN
  .Home_btnContainer__O33ik
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
@media (min-width: 640px) {
  .Home_addYourContribution__PSOUN .Home_btnContainer__O33ik {
    flex-direction: row;
  }
  .Home_addYourContribution__PSOUN
    .Home_btnContainer__O33ik
    > :not([hidden])
    ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    --tw-space-x-reverse: 0;
    margin: calc(0px * calc(1 - var(--tw-space-y-reverse)))
      calc(3rem * var(--tw-space-x-reverse))
      calc(0px * var(--tw-space-y-reverse))
      calc(3rem * calc(1 - var(--tw-space-x-reverse)));
  }
}
/*
.Home_addYourContribution__PSOUN .Home_line__EXbdO {
  width: 100%;
  background-color: var(--blue);
  height: 2px;
  border-radius: 8px;
}
*/
.Button_button__PjVhE {
  color: #fff;
  background-color: var(--blue);
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
}
.Title_title__RWKyi.Title_center__OPR2S {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.Title_title__RWKyi h1 {
  color: var(--blue-dark);
  font-size: 50px;
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Title_title__RWKyi h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  z-index: -1;
  bottom: 0;
  background-color: var(--blue-light);
}
@media only screen and (max-width: 600px) {
  .Title_title__RWKyi h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .Title_title__RWKyi h1 {
    font-size: 30px;
  }
}
.SubjectsHolder_subjectsHolder__AuoK_ {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 20px 5px rgba(13, 10, 85, 0.07);
  transition: all 0.4s ease;
  text-align: left;
  margin: 0 1rem;
}
.SubjectsHolder_subjectsHolder__AuoK_:hover {
  box-shadow: 0 0 10px 3px var(--blue);
}
/*
.SubjectsHolder_subjectsHolder__AuoK_:hover .SubjectsHolder_holderTitle__UahW_,
.SubjectsHolder_subjectsHolder__AuoK_:hover
  .SubjectsHolder_holderTitle__UahW_
  .SubjectsHolder_topLine__HENnI {
  background-color: var(--blue-light);
}
*/
.SubjectsHolder_subjectsHolder__AuoK_.SubjectsHolder_twoColumns__h7J5A {
  max-width: 1200px;
}
.SubjectsHolder_subjectsHolder__AuoK_.SubjectsHolder_twoColumns__h7J5A
  .SubjectsHolder_subjects___uW6Q {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.SubjectsHolder_subjectsHolder__AuoK_.SubjectsHolder_twoColumns__h7J5A
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG {
  width: 49%;
  align-self: flex-start;
}
.SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_subjects___uW6Q {
  padding: 3rem;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_noSubjects__apaQD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_noSubjects__apaQD
  .SubjectsHolder_iconContainer__rgSJJ {
  width: 60%;
  max-width: 300px;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_noSubjects__apaQD
  .SubjectsHolder_iconContainer__rgSJJ
  svg {
  width: 100%;
  height: auto;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_noSubjects__apaQD
  h3 {
  margin-top: 2rem;
  color: var(--blue-dark);
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG {
  width: 100%;
  margin-bottom: 0.8rem;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_header__Vhp3n {
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_header__Vhp3n:hover {
  background-color: var(--blue-light);
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_header__Vhp3n
  a:hover {
  text-decoration: underline;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_header__Vhp3n
  .SubjectsHolder_iconContainer__rgSJJ {
  margin-right: 1rem;
  height: 38px;
  width: 38px;
  min-width: 38px;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_header__Vhp3n
  .SubjectsHolder_iconContainer__rgSJJ
  svg {
  width: 100%;
  height: auto;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_moreResources__XnrXV
  a {
  padding: 1rem 1rem 1rem 4rem;
  text-align: left;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_moreResources__XnrXV
  a:hover {
  text-decoration: underline;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_subjects___uW6Q
  .SubjectsHolder_subject__M9uDG
  .SubjectsHolder_moreResources__XnrXV
  .SubjectsHolder_devider__hZqXc {
  width: 100%;
  height: 0.1rem;
  background-color: var(--blue-light);
}
.SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_holderTitle__UahW_ {
  /*padding: 0 3rem 1rem;
  text-transform: uppercase;
  */
  padding: 1rem 3rem 0;
  transition: all 0.4s ease;
}
.SubjectsHolder_subjectsHolder__AuoK_
  .SubjectsHolder_holderTitle__UahW_
  .SubjectsHolder_topLine__HENnI {
  width: 100%;
  height: 0.1rem;
  transition: all 0.4s ease;
  background-color: var(--blue);
}
.SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_holderTitle__UahW_ h4 {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--blue);
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .SubjectsHolder_subjectsHolder__AuoK_.SubjectsHolder_twoColumns__h7J5A
    .SubjectsHolder_subjects___uW6Q {
    display: block;
  }
  .SubjectsHolder_subjectsHolder__AuoK_.SubjectsHolder_twoColumns__h7J5A
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_subject__M9uDG {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .SubjectsHolder_subjectsHolder__AuoK_:hover {
    box-shadow: 0 0 20px 5px rgba(13, 10, 85, 0.07);
  }
  /*
  .SubjectsHolder_subjectsHolder__AuoK_:hover
    .SubjectsHolder_holderTitle__UahW_ {
    background-color: transparent;
  }
  .SubjectsHolder_subjectsHolder__AuoK_:hover
    .SubjectsHolder_holderTitle__UahW_
    .SubjectsHolder_topLine__HENnI {
    background-color: var(--blue);
  }
  */
  .SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_subjects___uW6Q {
    padding: 3rem 2rem;
  }
  .SubjectsHolder_subjectsHolder__AuoK_
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_noSubjects__apaQD
    h3 {
    margin-top: 1rem;
    font-size: 28px;
  }
  .SubjectsHolder_subjectsHolder__AuoK_
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_subject__M9uDG
    .SubjectsHolder_header__Vhp3n
    a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 450px) {
  .SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_subjects___uW6Q {
    padding: 2rem 1.5rem;
  }
  .SubjectsHolder_subjectsHolder__AuoK_
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_subject__M9uDG {
    font-size: 14px;
  }
  .SubjectsHolder_subjectsHolder__AuoK_
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_subject__M9uDG
    .SubjectsHolder_header__Vhp3n
    .SubjectsHolder_iconContainer__rgSJJ {
    margin-right: 0.5rem;
    height: 28px;
    width: 28px;
    min-width: 28px;
  }
  .SubjectsHolder_subjectsHolder__AuoK_
    .SubjectsHolder_subjects___uW6Q
    .SubjectsHolder_subject__M9uDG
    .SubjectsHolder_moreResources__XnrXV
    a {
    padding: 0.8rem 0.8rem 0.8rem 3rem;
  }
  .SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_holderTitle__UahW_ {
    padding: 0 2rem 0.8rem;
  }
  .SubjectsHolder_subjectsHolder__AuoK_ .SubjectsHolder_holderTitle__UahW_ h4 {
    padding-top: 1rem;
    font-size: 18px;
  }
}
/*.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}*/
/*
.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}*/
/*.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
}*/
/*.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}*/
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}
.carousel-root {
  outline: none;
}
.carousel {
  position: relative;
  width: 100%;
}
.carousel * {
  box-sizing: border-box;
}
.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none;
}
.carousel .carousel {
  position: relative;
}
.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}
.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
}
.carousel .thumbs {
  transition: all 0.15s ease-in;
  transform: translateZ(0);
  position: relative;
  list-style: none;
  white-space: nowrap;
}
.carousel .thumb {
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}
.carousel .thumb:focus {
  border: 3px solid #ccc;
  outline: none;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #333;
}
.carousel .thumb img {
  vertical-align: top;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.carousel .slider.animated {
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
}
.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}
.carousel .slide .legend {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}
.carousel:hover .slide .legend {
  opacity: 1;
}
.Carousel_slideContainer__ZrfCi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
}
.SliderTextIndicators_slideIndicator__Hr4cc {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_nextArrow__CYX6h,
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_prevArrow__jRN58 {
  cursor: pointer;
  width: 20px;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_nextArrow__CYX6h:disabled,
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_prevArrow__jRN58:disabled {
  cursor: default;
  opacity: 0.2;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_nextArrow__CYX6h
  svg,
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_prevArrow__jRN58
  svg {
  width: 100%;
  height: auto;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_nextArrow__CYX6h
  path,
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_prevArrow__jRN58
  path {
  fill: var(--blue-dark);
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_prevArrow__jRN58
  svg {
  transform: rotate(180deg);
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_indicators__a_rOj {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
  position: relative;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_indicators__a_rOj
  .SliderTextIndicators_indicator__qr2Vy {
  margin: 0 1rem;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_indicators__a_rOj
  .SliderTextIndicators_indicator__qr2Vy.SliderTextIndicators_active__tkI_H {
  position: relative;
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_indicators__a_rOj
  .SliderTextIndicators_indicator__qr2Vy.SliderTextIndicators_active__tkI_H:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
}
.SliderTextIndicators_slideIndicator__Hr4cc
  .SliderTextIndicators_indicators__a_rOj
  .SliderTextIndicators_indicator__qr2Vy
  h2 {
  cursor: pointer;
  font-size: 40px;
  color: var(--blue-dark);
}
.Semesters {
  width: 100%;
  /*max-width: 600px;*/
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  margin: 0 0 8px;
  display: none;
}
.Semesters button {
  width: 45%;
  color: var(--blue);
  background-color: var(--cream);
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  border: 2px solid var(--blue);
  border-radius: 40px; 
}
.Semesters button.Selected {
  color: var(--cream);
  background-color: var(--blue);
  pointer-events: none;
}
@media only screen and (max-width: 600px) {
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_nextArrow__CYX6h,
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_prevArrow__jRN58 {
    width: 15px;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_indicators__a_rOj {
    margin: 0 2rem;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_indicators__a_rOj
    .SliderTextIndicators_indicator__qr2Vy {
    margin: 0 0.5rem;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_indicators__a_rOj
    .SliderTextIndicators_indicator__qr2Vy.SliderTextIndicators_active__tkI_H:after {
    height: 3px;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_indicators__a_rOj
    .SliderTextIndicators_indicator__qr2Vy
    h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 450px) {
  .SliderTextIndicators_slideIndicator__Hr4cc {
    gap: 1.5rem;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_nextArrow__CYX6h,
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_prevArrow__jRN58 {
    width: 12px;
  }
  .SliderTextIndicators_slideIndicator__Hr4cc
    .SliderTextIndicators_indicators__a_rOj
    .SliderTextIndicators_indicator__qr2Vy
    h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1080px) {
  .Semesters {
    display: flex;
  }
}
